/* General Reset */
body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    overflow: hidden;
}

/* Jungle Container */
.jungle-container {
    background: url('a.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {

    width: 100%;

    max-width: 400px;

    background: rgba(0, 0, 0, 0.7);

    border-radius: 20px;

    padding: 20px 30px;

    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);

    text-align: center;

    color: #fff;

    animation: fadeIn 2s ease-in-out; /* Smooth and longer fade-in */

}

/* Header */
.header h1 {
    font-size: 60px;
    color: #143e08;
    /* text-shadow: 2px 2px 5px; */
    margin-bottom: 50px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#0d1504, #a479ef);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
}

/* Menu Buttons */
.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-item {
    background: linear-gradient(180deg, #3498db, #8e44ad);
    border: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    transition: all 0.3s ease;
}

#welcome-message {
    font-size: 32px; /* Increase font size */
    font-weight: bold; /* Make the text bold */
    color: #000000; /* Set the text color */
    margin-top: 10px; /* Add some space above the welcome message */
    text-align: center; /* Center the text */
}


.menu-item:hover {
    transform: translateY(-3px);
    background: linear-gradient(180deg, #3498db, #8e44ad);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
}

/* Responsive Design */
@media (max-width: 768px) {
    .header h1 {
        font-size: 40px;
    }

    .menu-item {
        font-size: 20px;
        padding: 10px 30px;
    }
}